<div id="<%= dom_id baseball_card %>">
  <p>
    <strong>Name:</strong>
    <%= baseball_card.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= baseball_card.team %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= baseball_card.position %>
  </p>

</div>
